.marqueeContainerOut {
  width: minmax(100vw, $max-width);
  overflow: hidden;

  .marqueeContainerInner {
    width: 200vw;
    display: flex;

    .marqueeContainer {
      width: 100vw;
      padding: 1rem 5rem;
      display: flex;
      grid-template-columns: repeat(3, 1fr);
      height: 40vh;
      overflow: hidden;
      animation: marquee 10s linear infinite;

      &.black {
        background-color: $clr-black;
      }

      // &.duplicated {
      //   background-color: red;
      // }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
