.product-card {
  position: relative;
  width: 100%;
  height: 100%;
}
.btn {
  border: transparent;
  cursor: pointer;
  background-color: transparent;
}

.product-card-img-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 0.8s;

  .product-card-img {
    position: relative;
    width: 80%;
    height: 100%;
    transition: 0.6s;

    &:hover {
      transform: scale(1.1);
      transform-origin: center;
    }

    img {
      transform-origin: center;
      transition: 1s;
    }
  }
}

.product-card-marquee-title-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: grid;
  place-items: center;
  overflow: hidden;

  .product-card-marquee-title {
    background-color: $clr-black;
    color: $clr-white;
    padding: 0.5rem 1rem;
    transform: translateY(500%);
    transition: $transition;
  }

  &:hover {
    .product-card-marquee-title {
      transform: translateY(0%);
    }
  }
}
