.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  padding: 3rem;
  overflow: hidden;
}

@media screen and (min-width: $large-screen-width) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 35rem);

    :first-child {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }
  }
}
