*,
::after,
::before {
  // font-family: font-real-headline-pro, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-weight: 100;
  background-color: $clr-white;
  line-height: 1.5;
  font-size: 1.6rem;
  letter-spacing: 0.01vw;
  overscroll-behavior: none;
  overflow-x: hidden;
  overflow-y: scroll;

  &.disable-scroll {
    overflow-y: hidden;
  }
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $clr-black;
  transition: $transition;
}

img {
  display: block;
}

button,
button:focus {
  font-size: 1.6rem;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

button:focus {
  border: 1px solid $clr-black;
}

button:active {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
  font-weight: 400;
}

h1 {
  font-size: clamp(6rem, 9vw, 9rem);
}
h2 {
  font-size: clamp(4rem, 6vw, 6rem);
}
h3 {
  font-size: clamp(3rem, 4vw, 4rem);
}
h4 {
  font-size: clamp(2rem, 3vw, 3rem);
}
h5 {
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
}
p {
  font-family: $font-secondary, sans-serif;
  font-weight: 100;
  font-size: 1.6rem;
}

/*
=============== 
Footer
===============
*/

.footer {
  width: 100vw;
  height: 13rem;
  background-color: $clr-black;
  color: $clr-white;
  padding: 2rem;

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: $clr-white;
    text-decoration: underline;
    text-decoration-color: $clr-black;
    transition: 0.3s;
    &:hover {
      text-decoration-color: $clr-white;
    }
  }

  @media screen and (min-width: 992px) {
    padding-left: 30vw;
    display: flex;

    .socials {
      margin-left: 15rem;
    }
  }
}
